*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

body.transition-background {
    animation: background-transition 1.5s ease-in-out forwards;
}

@keyframes background-transition {
    0% {
        background-color: white;
    }
    100% {
        background-color: #070F2B;
    }
}

.highlight {
    text-shadow: 
    0 0 10px #FC6736,
    0 0 20px #FC6736,
    0 0 40px #FC6736,
    0 0 80px #FC6736
}

.highlight-blue {
    text-shadow: 
    0 0 10px #070F2B,
    0 0 20px #070F2B,
    0 0 40px #070F2B
}

.icons {
    font-size: 3em;
}

.break {
    flex-basis: 100%;
    height: 0;
}

header .navbar {
    background-color: #070F2B;
    width: 100%;
    max-width: 2000px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
}

header .navbar img {
    width: 90px;
}

header .navbar .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 3rem 1rem;
}

header .navbar .nav-list li {
    position: relative;
    list-style-type: none;
}

header .navbar .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease-in-out;
}

header .navbar .nav-list li:hover a {
    background-color: #FC6736;
    color: white;
}

.big-title {
    /* background-color: red; */
    align-items: center;
    display: flex;
    flex-flow: row;
    height: 100vh;
    justify-content: space-between;
}

.hero {
    color: white;
    text-align: left;
    margin: 1em 8em;
    width: 50vw;
}

.hero h1 {
    animation: title-reveal 1s ease-in-out forwards;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.25;
}

.hero p {
    animation: title-reveal 1.25s ease-in-out forwards;
    font-size: 2.5em;
    font-weight: 600;
    white-space: nowrap;
}

.hero-image {
    padding: 1em 4em;
}

header .hero-image img {
    animation: hero-image-reveal 1s ease-in-out forwards;
    width: 475px;
}

@keyframes title-reveal {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes hero-image-reveal {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }   
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

main {
    display: flex;
    flex-flow: column;
}

.about {
    /* background-color: green; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.formal-image {
    margin: 1em 8em;
    animation: formal-image-reveal 1s ease-in-out forwards;
}

.formal-image img {
    width: auto;
    max-width: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.profile-container {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    margin: 1em 5rem;
}

.profile-container h1 {
    font-size: 3rem; 
    color: #EFECEC;
}

.profile-container h2 {
    color: #EFECEC
}

.gallery img {
    margin: 24px;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 12px;
}

.large-card {
    color: #EFECEC;
}

.small-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-card {
    color: #EFECEC;
    flex: 1 0 25%;
    margin: 0.5rem;
}

@keyframes formal-image-reveal {
    0% {
        opacity: 0;
    }   
    100% {
        opacity: 1;
    }
}

#resume {
    /* background-color: blue; */
    height: auto;
}

.tablink {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    text-shadow: 
    0 0 10px #FC6736,
    0 0 20px #FC6736,
    0 0 40px #FC6736,
    0 0 80px #FC6736
}

.tabcontent {
    color: #EFECEC;
    display: none;
    padding: 13.5em 5em;
    height: auto;
}

.cert-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.cert-card {
    background-color: #FC6736;
    color: #EFECEC;
    display: flex wrap;
    filter: grayscale(100%);
    border-radius: 15px;
    flex: 1 0 25%;
    max-width: 500px;
    height: auto;
    padding: 75px 25px;
}

.cert-card:hover {
    animation: card-smooth-reveal 0.25s ease-in-out forwards;
}

.exp-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

.exp-card {
    background-color: #FC6736;
    color: #EFECEC;
    filter: grayscale(100%);
    border-radius: 15px;
    flex: 1 0 25%;
    max-width: 500px;
    height: auto;
    padding: 25px 25px;
}

.exp-card:hover {
    animation: card-smooth-reveal 0.25s ease-in-out forwards;
}

.exp-card h1 {
    font-size: 1.5em;
}

.exp-card h2 {
    font-size: 1.25em;
}

.skill-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

.skill-card h2 {
    font-size: 1.25em;
}

progress {
    appearance: none;
    width: 320px;
    height: 10px;
}

progress::-webkit-progress-bar{
    background: #EFECEC;
    border-radius: 20px;
}

::-webkit-progress-value {
    background-color: #FC6736;
    border-radius: 20px;
}

.award-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.award-card {
    background-color: #FC6736;
    color: #EFECEC;
    filter: grayscale(100%);
    border-radius: 15px;
    flex: 1 0 25%;
    max-width: 500px;
    height: auto;
    padding: 25px 25px;
}

.award-card:hover {
    animation: card-smooth-reveal 0.25s ease-in-out forwards;
}

.award-card h1 {
    font-size: 1.5em;
}

.award-card h2 {
    font-size: 1.25em;
}

@keyframes card-smooth-reveal {
    0% {
        background-color: #FC6736;
        filter: grayscale(100%);
    }
    100% {
        background-color: #FC6736;
        filter: grayscale(0%);
    }
}

#projects{
    display: flex;
    flex-flow: column;
    margin: 1em 8em;
    height: 100vh;
}

.project-layout h1 {
    color: #EFECEC;
    font-size: 3em;
}

.project-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card img{
    max-width: 500px;
    height: 250px;
    object-fit: cover;
}

.contact-layout{
    display: flex;
    flex-flow: column;
    background-color: #EFECEC;
    justify-content: center;
    gap: 25px;
    height: 100vh;
}

.contact-layout h1 {
    color: #EFECEC;
    font-size: 3em;
    text-align: center;
}

.contact-card-container {
    display: flex;
    margin: 1em 8em;
    gap: 25px;
    justify-content: space-around;
}

.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #070F2B;
    padding: 20px;
    flex: 1 0 25%;
    max-width: 500px;
}

.contact-card i {
    font-size: 2.5em;
}

footer.footer-container {
    background-color: #FC6736;
    color: #EFECEC;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-card {
    padding-bottom: 25px;
    max-width: 320px;
}

footer.footer-container .footer-links li a{
    color: #EFECEC;
    text-decoration: none;
}

footer.footer-container .footer-available {
    display: flex;
    flex-flow: column;
} 

@media screen and (max-width:600px) {

    /* Navigation Bar */
    
    header .navbar {
        justify-content: space-between;
    }

    header .navbar img {
        margin-left: 30px;
    }

    header .navbar .nav-list ul {
        display: none;
    }

    /* Home Page */

    .big-title {
        justify-content: center;
        height: 100vh;
        width: 50vw;
    }

    .hero {
        text-wrap: wrap;
        padding: 20px;
        text-align: left;
    }
    
    .hero-image {
        display: none;
    }   

    .hero h1 {
        width: 100vw;
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.5em;
    }

    /* About Page */

    .about {
        flex-flow: column;
        max-width: 600px;
    }

    .full-name {
        font-size: 1.5rem;
        text-align: left;
    }

    .formal-image img {
        display: none;
    }

    .gallery img {
        width: 200px;
        height: 200px;
    }

    .small-card-container i{
        font-size: 35px;
    }

    .small-card-container h2{
        font-size: 20px;
    }

    /* Resume Page: Tabs */

    .tablink h1 {
        display: none;
    }

    /* Resume Page: Certification */
    .cert-card-container {
        gap: 50px;
    }

    .cert-card {
        width: 120px;
    }

    /* Resume Page: Experience */
    .exp-card-container {
        gap: 50px;
    }

    /* Resume Page: Awards */
    .award-card-container {
        gap: 50px;
    }

    /* Project Page*/

    .project-card img {
        max-width: 75vw;
        object-fit: cover;
        object-position: center;
    }

    /* Contact Page */

    .contact-card-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    /* Footer */

    footer.footer-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

}