*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFEDD8;
}

header .navbar{
    background-color: #891652;
    width: 100%;
    max-width: 2000px;
    padding-block: 1rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
}

header .navbar .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 3rem 1rem;
} 

header .navbar .nav-list li {
    position: relative;
    list-style-type: none;
}

header .navbar .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #FFEDD8;
    transition: all  0.1s ease-in-out;
}

header .navbar .nav-list li:hover a {
    background-color: #FFEDD8;
    color: #891652;
}

.home-container{
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #891652;
}

.home-container h1 {
    color: #EABE6C;
    font-size: 150px;
    animation: go-up 1s ease-in-out forwards;
}

@keyframes go-up {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.gallery-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
    padding: 36px;
}

.gallery-container h1 {
    font-size: 75px;
    line-height: 12px;
}

.gallery-container .photo-container {
    align-items: center;
    display: flex;
    gap: 12em;
}

.gallery-container .photo-container img {
    border-radius: 12px;
    width: 350px;
    filter: grayscale(100%);
}

.gallery-container .photo-container img:hover {
    animation: de-grayscale 0.25s ease-in-out forwards;
}

@keyframes de-grayscale {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

#blog {
    display: flex;
    flex-flow: row;
    justify-content: space-around;  
    align-items: center;
    background-color: #240A34;
    color: #FFEDD8;
    height: auto;
    padding: 25px;
}

.article-container {
    display: flex;
    flex-flow: column;
    gap: 24px;
}

.article-items {
    background-color: #891652;
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    width: 768px;
    padding: 24px;
}

/* Contact */

#contact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contact h1 {
    font-size: 50px;
}

#contact .contact-container {
    display: flex;
    flex-flow: row;
    margin: 1em 8em;
    justify-content: space-around;
    gap: 25px;
}

#contact .contact-container .contact-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: #070F2B;
    padding: 20px;
    flex: 1 0 25%;
    max-width: 500px;
}

#contact .contact-container .contact-card a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #EABE6C;
    color: #240A34;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

footer .footer-card {
    padding-bottom: 25px;
    max-width: 320px;
}

footer .footer-card .footer-links li {
    list-style-type: none;
}

footer .footer-card .footer-links li a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    /* Navigation Bar */
    header .navbar {
        width: 100vw;
    }

    header .navbar .nav-list ul {
        padding-right: 25px;
    }

    header .navbar .nav-list li a {
        padding: 12px;
    }

    /* Home Section */
    .home-container h1 {
        font-size: 100px;
        padding-left: 20px;
    }

    /* Gallery Section */
    .gallery-container {
        height: auto;
        align-items: flex-start;
    }

    .gallery-container h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .gallery-container .photo-container {
        display: flex;
        flex-flow: column;
        gap: 3.5em;
    }

    .gallery-container .photo-container img {
        width: 300px;
    }

    /* Blog Section */
    #blog {
        flex-flow: column;
        align-items: flex-start;
        gap: 3em;
    }

    #blog h1{
        font-size: 30px;
    }

    .article-items {
        width: 75vw;
    }

    /* Contact Section */
    #contact{
        padding-top: 25px;
        justify-content: flex-start;
        gap: 3em;
    }

    #contact .contact-container {
        flex-flow: column;
        gap: 5em;
    }
}